@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
    background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5)),
    url('wooden.jpg'); /* Replace with your background image */
    background-size: cover;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}